body{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}


header li {
    list-style: none;
    display: inline;
    margin: 5px;
 }
 
 header a {
    text-decoration: none;
    color: lightgreen;
 }
 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16.5%;

}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.active{
        background-color:rgb(134, 199, 97);
        color: #eee;
        padding: 4px 4px;
}


.banner{
background-image: url(../img/header.jpg);
color: rgb(255, 255, 255);
min-height: 200px;
background-repeat: no-repeat;


}

.divisies{
    display: flex;
text-align: auto;
}

.titel{
    color: rgb(151, 151, 235);

}
body{
    font-family: Lucida 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a{
    text-decoration: none;
}




.report h4{
    color: rgb(151, 151, 235);
}

div.people{
    text-align: center;
}
div.planet{
    text-align: center;
}
div.plate{
    text-align:center ; 
}













footer{
    background-color: black;
}

footer ul{
    text-decoration: none;
    color: white;
list-style: none;
display: flex;



}
footer ul a{
    color: white;
}